aws_region           = "us-east-1"
environment          = "prod"
vpc_cidr             = "10.0.0.0/16"
availability_zones   = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]
db_instance_class    = "db.t3.medium"
db_allocated_storage = 50
db_password          = "ChangeMeSecurePassword123!"
redis_node_type      = "cache.t3.small"
s3_bucket_suffix     = "prod-company-001"
log_retention_days   = 90
